<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.garvitcompany.com.currentweather"
    >

    <uses-permission
        android:name="android.permission.INTERNET" />


    <application
        android:icon="@mipmap/current_weather_icon_square"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true"

        tools:ignore="HardcodedDebugMode">

        <activity
            android:name=".MainActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>



        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


        </activity>

    </application>

</manifest>